@use 'variables-typography' as *;
@use 'mixins' as *;

.animais {
  grid-column: 1;
  margin-top: -4rem;
  padding-top: 4rem;
  display: grid;
  place-items: center;
  overflow-x: hidden;
  @include respond(broken) {
    grid-column: 1/5;
  }

  &-lista {
    padding: 2rem;

    img {
      border-radius: 1rem;
      box-shadow: 2rem 2rem 2rem rgb($color-primary-dark2, .5);
    }
    li {
      margin-top: 6rem;
      position: relative;
      z-index: 10;
      &::after {
        content: '';
        display: block;
        width: 30rem;
        height: 30rem;
        top: -6rem;
        right: -8rem;
        background-image: url('/assets/img/detail-animais-fantasticos.svg');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        transform: rotate(90deg);
        filter: blur(3px) opacity(0.5);
        z-index: 20;
        box-shadow: 1rem -1rem 2rem rgb($color-primary-dark2, .4);
      }
    }
  }

  &-descricao {
    padding: 4rem;
    max-width: 80ch;
   
    h2 {
      margin-top: 4rem;
    }
    &-content {
      display: grid;
      gap: 1rem;
    }
  }
}
